@import url("./partials/reset.css");
@import url("./partials/variables.css");
@import url("./partials/typography.css");


@import url("./partials/utilities.css");
@import url("./partials/layout.css");

@import url("./partials/controls.css");
@import url("./partials/components.css");


@import url("./partials/colors.css");

@import url("./partials/footer.css");

@import url("./partials/component-variations.css");

/* STYLING JEDNOTLIVÝCH STRÁNEK */
/* TODO: Absolutně je eliminovat, nahradit custom styling za generické, nebo je definovat v komponentech */
@import url("./pages/aktualita-template.css");
@import url("./pages/aktuality.css");
@import url("./pages/efektivni-dispozice.css");
@import url("./pages/financovani.css");
@import url("./pages/homepage.css");
@import url("./pages/hypoteka.css");
@import url("./pages/informace-pro-dodavatele.css");
@import url("./pages/postup-koupe.css");
@import url("./pages/prehled-projektu.css");
@import url("./pages/pripravovane-projekty.css");
@import url("./pages/reference.css");

/* TEMP umístění */
:root {
  font-family: "Exo 2";
  line-height: 1.5;
}

main {
  color: var(--body-text-color);
  /* NOTE: Font-size je určeno na body, namísto na :root, protože tím by se přenastavila hodnota 1rem; a byť v těle používáme velikost 18, pořád chceme 1rem = 16px, abychom se z toho nezbláznili */
  font-size: 1.125rem;
}