@import url("./partials/reset.css");
@import url("./partials/variables.css");
@import url("./partials/typography.css");

@import url("./partials/controls.css");
@import url("./partials/components.css");

@import url("./partials/layout.css");
@import url("./partials/colors.css");

@import url("./partials/footer.css");

@import url("./partials/component-variations.css");

/* TEMP umístění */
:root {
  font-family: "Exo 2";
  line-height: 1.5;
}

body {
  color: var(--body-text-color);
  /* NOTE: Font-size je určeno na body, namísto na :root, protože tím by se přenastavila hodnota 1rem; a byť v těle používáme velikost 18, pořád chceme 1rem = 16px, abychom se z toho nezbláznili */
  font-size: 1.125rem;
}