/* WIP */

.text-yellow {
  color: var(--cg-yellow);
}

.bg-blue {
  color: white;
  /* TEMP hard-coded mid shade */
  background: linear-gradient(90deg, var(--cg-blue), #2C306C, var(--cg-blue)), var(--cg-blue);
}