/* TODO */
.brow {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: var(--cg-yellow);
    margin-bottom: 20px;
  }
}

.brow--footer {
  &::before {
    content: "";
    display: block;
    height: 3px;
    width: 20px;
    background-color: var(--cg-blue);
    margin-bottom: 12px;
  }
}

.tag {
  --badge-padding-x: 12px;
  --badge-padding-y: 4px;
  --badge-font-size: 0.75rem;
  --badge-font-weight: 700;
  --badge-color: ;
  --badge-border-radius: 999px;
  --badge-icon-size: 1lh;
  --badge-line-height: 1;
  align-items: center;
  background-color: var(--theme-color, var(--cg-yellow));
  border-radius: var(--badge-border-radius);
  border: var(--border-width) var(--border-style) transparent;
  color: var(--theme-contrast-color, var(--body-text-color, black));
  display: inline-flex;
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  gap: 0.75em;
  justify-content: center;
  /* letter-spacing: .04em; */
  line-height: var(--badge-line-height);
  /* min-width: calc(1em + var(--badge-padding-y) * 2 + 2px); */
  overflow: hidden;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  text-align: center;
  /* ? maybe ? */
  /* text-transform: uppercase; */
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}

/* tag preceding a heading */
.tag:has(+ h2) {
  margin-bottom: 22px;
}


/* # HERO */
.hero {
  height: 660px;
  position: relative;
  padding-top: calc(var(--header-height) + var(--layout-gutter));
  padding-bottom: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-inline: 0 !important;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;
    padding: 32px 16px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    color: white;
  }

  /* video, image */
  .hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (width >=992px) {
  .hero {
    height: 800px;
    padding-bottom: var(--layout-gutter);

    .hero-container {
      justify-content: center;
    }

    .hero-content {
      width: fit-content;
      max-width: min(548px, 100%);
      padding: 60px 40px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

/* # CARD */
.card {
  display: flex;
  flex-direction: column;

  .card-img {
    width: 100%;
  }

  .card-body {
    background-color: #f2f2f2;
    padding: 40px;
    flex: 1 1 auto;
  }
}

@media (width < 992px) {
  .card .card-body {
    padding-inline: 24px;
  }
}

/* TEMP umístění stylů */
.hp-banner {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  isolation: isolate;
  padding: min(var(--layout-gutter), 24px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;

  /* backdrop */
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); */
    background:
      linear-gradient(292deg, rgba(32, 35, 76, 0.00) 54.72%, rgba(18, 20, 43, 0.80) 99.05%),
      linear-gradient(211deg, rgba(32, 35, 76, 0.00) 55.37%, rgba(18, 20, 43, 0.80) 76.36%);
    z-index: -1;
    transition: all 300ms;
    pointer-events: none;
  }

  picture {
    display: contents;
  }

  :is(img, video) {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    transition: all 300ms;
  }

  video {
    transition: all 300ms;
    opacity: 0;
    z-index: -2;
  }

  &:hover {
    video {
      opacity: 1;
    }
  }

  /* Pokud nemá video, obrízek se zoomne */
  &:not(:has(video)):hover img {
    scale: 1.075;
  }

  address {
    order: -1;
    margin-bottom: auto;

    /* WIP */
    &::before {
      /* FIXME: Ikoně chybí tečka uprostřed */
      content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.34878 12.7165C8.43367 11.7796 11.6644 8.74597 11.6644 5.83311C11.6644 4.59532 11.1728 3.40823 10.2977 2.53298C9.42265 1.65773 8.23578 1.16602 6.99823 1.16602C5.76068 1.16602 4.57381 1.65773 3.69873 2.53298C2.82365 3.40823 2.33203 4.59532 2.33203 5.83311C2.33203 8.74597 5.56279 11.7796 6.64768 12.7165C6.74875 12.7925 6.87178 12.8336 6.99823 12.8336C7.12468 12.8336 7.24771 12.7925 7.34878 12.7165Z" stroke="%23FFED00" stroke-linecap="round"/></svg>')
    }
  }
}