/* # COMMON CONTROLS STYLES */
input,
textarea,
select,
.btn {
  padding: var(--controls-padding, var(--controls-padding-md));
  font-family: inherit;
  font-size: var(--controls-fs, var(--controls-fs-md));
  line-height: var(--controls-lh, var(--controls-lh-md));
  border-radius: var(--controls-border-radius);
  position: relative;
  gap: 10px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid transparent;
  vertical-align: middle;
}


/* # BUTTONS */
.btn {
  --btn-theme-color: #f2f2f2;
  --btn-bg: var(--btn-theme-color);
  --btn-text-color: var(--btn-contrast-color);
  --btn-border-width: 1px;
  --btn-border-color: transparent;
  --btn-icon-color: currentColor;
  --btn-hover-bg: var(--btn-bg);
  --btn-hover-text-color: var(--btn-text-color);

  display: inline-flex;
  font-weight: 600;
  color: var(--btn-text-color);
  background: var(--btn-bg);
  cursor: pointer;
  user-select: none;
  border-color: var(--btn-border-color);
  text-align: center;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-property: color, background;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--btn-hover-text-color);
  text-decoration: none;
  background: var(--btn-hover-bg);
}

.btn:is(.btn-outline, .btn-outline-fill) {
  --btn-bg: transparent;
  --btn-border-color: var(--btn-theme-color);
  --btn-text-color: var(--btn-theme-color);
}

.btn.btn-outline-fill {
  --btn-hover-bg: var(--btn-theme-color);
  --btn-hover-text-color: var(--btn-contrast-color);
}

/* Icon */
.btn :is(.icon, [class*="fa-"]) {
  color: var(--btn-icon-color);
  /* ? font-size zmenšit ? */
}

/* TODO */
.btn-ico {
  /* exact square for icon-only */
}

/* ? maybe ? */
.btn-link {
  /* color: rgb(6.711627907, 124.1651162791, 233.788372093); */
  background: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    /* color: rgb(4.8, 88.8, 167.2); */
    border-color: transparent;
  }

  .icon {
    color: inherit;
  }
}

/* LIST */
.btn-list {
  --list-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap);
  /* ? maybe ? */
  align-items: start;
}


/* # THEMES / COLORS */
.btn-yellow {
  --btn-theme-color: var(--cg-yellow);
  --btn-contrast-color: var(--black, black);
}

.btn-blue {
  --btn-theme-color: var(--cg-blue);
  --btn-contrast-color: var(--white);
}

.btn-primary {
  --btn-theme-color: var(--cg-yellow);
  --btn-contrast-color: var(--black, black);
  --btn-hover-text-color: var(--white, white);
  --btn-hover-bg: var(--cg-blue);

  /* ? maybe - introduce --btn-hover-icon-color variable ? */
  &:hover {
    --btn-icon-color: var(--cg-yellow);
  }
}

/* # INPUTS */

input,
textarea,
select {
  display: inline-block;
  font-weight: 300;
  color: inherit;
  appearance: none;
  background-clip: padding-box;
  /* TODO: Replace hard-coded value with variable */
  border-color: #cccccc;
}


/* SIZES */
.controls-sm, :is(input, textarea, select).sm, .btn-sm {
  --controls-fs: var(--controls-fs-sm);
  --controls-padding: var(--controls-padding-sm);
  --controls-lh: var(--controls-lh-sm);
}

.controls-md, :is(input, textarea, select).md, .btn-md {
  --controls-fs: var(--controls-fs-md);
  --controls-padding: var(--controls-padding-md);
  --controls-lh: var(--controls-lh-md);
}

.controls-lg, :is(input, textarea, select).lg, .btn-lg {
  --controls-fs: var(--controls-fs-lg);
  --controls-padding: var(--controls-padding-lg);
  --controls-lh: var(--controls-lh-lh);
}


/* Width of control (or height for <textarea>) follows its content */
.autosize {
  field-sizing: content;
}
