:is(section, .section) {
  margin-block: var(--section-spacing);

  /* sections with background */
  &[class*="bg-"] {
    margin-block: 0;
    padding-block: var(--section-spacing);
  }

  /* sub-section (section inside another section) */
  & & {
    /* debug */
    background-color: red;
  }
}

[class*="container"] {
  margin-inline: auto;
  padding-inline: 16px;
}

.container-main {
  max-width: 1440px
}

.container-narrow {
  /* užší obsah pro čtené stránky (detail aktuality) – efektivní obsah 1168px */
  max-width: 1200px;
}

.container-wide {
  max-width: 1824px;
}

.layout-grid {
  display: grid;
  gap: var(--layout-gutter) var(--layout-gutter);
  grid-template-columns: repeat(var(--column-count, 12), minmax(0, 1fr));

  /* ? možná mít rovnou zaplné - zatím jako class */
  &.dense {
    grid-auto-flow: dense;
  }

  /* Řádky budou všechny stejně vysoké */
  /* &.rows-equal {
    grid-auto-rows: 1fr;
  } */

  /* WIP */
  &.deck {
    align-items: stretch;

    > * {
      height: 100%;
    }
  }
}