/* MARK: Bootstrap CSS Grid */
/* https://getbootstrap.com/docs/5.2/layout/css-grid/ */

/* .grid {
  display: grid;
  grid-template-rows: repeat(var(--tblr-rows, 1), 1fr);
  grid-template-columns: repeat(var(--tblr-columns, 12), 1fr);
  gap: var(--tblr-gap, var(--tblr-page-padding));
} */

.g-col-1 {
  grid-column: auto/span 1;
}

.g-col-2 {
  grid-column: auto/span 2;
}

.g-col-3 {
  grid-column: auto/span 3;
}

.g-col-4 {
  grid-column: auto/span 4;
}

.g-col-5 {
  grid-column: auto/span 5;
}

.g-col-6 {
  grid-column: auto/span 6;
}

.g-col-7 {
  grid-column: auto/span 7;
}

.g-col-8 {
  grid-column: auto/span 8;
}

.g-col-9 {
  grid-column: auto/span 9;
}

.g-col-10 {
  grid-column: auto/span 10;
}

.g-col-11 {
  grid-column: auto/span 11;
}

.g-col-12 {
  grid-column: auto/span 12;
}

.g-start-1 {
  grid-column-start: 1;
}

.g-start-2 {
  grid-column-start: 2;
}

.g-start-3 {
  grid-column-start: 3;
}

.g-start-4 {
  grid-column-start: 4;
}

.g-start-5 {
  grid-column-start: 5;
}

.g-start-6 {
  grid-column-start: 6;
}

.g-start-7 {
  grid-column-start: 7;
}

.g-start-8 {
  grid-column-start: 8;
}

.g-start-9 {
  grid-column-start: 9;
}

.g-start-10 {
  grid-column-start: 10;
}

.g-start-11 {
  grid-column-start: 11;
}

/* NOTE: grid-flow třídy nejsou z BS ale jsou vlastní */
.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

@media (min-width: 576px) {
  .g-col-sm-1 {
    grid-column: auto/span 1;
  }

  .g-col-sm-2 {
    grid-column: auto/span 2;
  }

  .g-col-sm-3 {
    grid-column: auto/span 3;
  }

  .g-col-sm-4 {
    grid-column: auto/span 4;
  }

  .g-col-sm-5 {
    grid-column: auto/span 5;
  }

  .g-col-sm-6 {
    grid-column: auto/span 6;
  }

  .g-col-sm-7 {
    grid-column: auto/span 7;
  }

  .g-col-sm-8 {
    grid-column: auto/span 8;
  }

  .g-col-sm-9 {
    grid-column: auto/span 9;
  }

  .g-col-sm-10 {
    grid-column: auto/span 10;
  }

  .g-col-sm-11 {
    grid-column: auto/span 11;
  }

  .g-col-sm-12 {
    grid-column: auto/span 12;
  }

  .g-start-sm-1 {
    grid-column-start: 1;
  }

  .g-start-sm-2 {
    grid-column-start: 2;
  }

  .g-start-sm-3 {
    grid-column-start: 3;
  }

  .g-start-sm-4 {
    grid-column-start: 4;
  }

  .g-start-sm-5 {
    grid-column-start: 5;
  }

  .g-start-sm-6 {
    grid-column-start: 6;
  }

  .g-start-sm-7 {
    grid-column-start: 7;
  }

  .g-start-sm-8 {
    grid-column-start: 8;
  }

  .g-start-sm-9 {
    grid-column-start: 9;
  }

  .g-start-sm-10 {
    grid-column-start: 10;
  }

  .g-start-sm-11 {
    grid-column-start: 11;
  }

  .grid-flow-sm-row {
    grid-auto-flow: row;
  }

  .grid-flow-sm-col {
    grid-auto-flow: column;
  }

  .grid-flow-sm-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-flow-sm-col-dense {
    grid-auto-flow: column dense;
  }
}

@media (min-width: 768px) {
  .g-col-md-1 {
    grid-column: auto/span 1;
  }

  .g-col-md-2 {
    grid-column: auto/span 2;
  }

  .g-col-md-3 {
    grid-column: auto/span 3;
  }

  .g-col-md-4 {
    grid-column: auto/span 4;
  }

  .g-col-md-5 {
    grid-column: auto/span 5;
  }

  .g-col-md-6 {
    grid-column: auto/span 6;
  }

  .g-col-md-7 {
    grid-column: auto/span 7;
  }

  .g-col-md-8 {
    grid-column: auto/span 8;
  }

  .g-col-md-9 {
    grid-column: auto/span 9;
  }

  .g-col-md-10 {
    grid-column: auto/span 10;
  }

  .g-col-md-11 {
    grid-column: auto/span 11;
  }

  .g-col-md-12 {
    grid-column: auto/span 12;
  }

  .g-start-md-1 {
    grid-column-start: 1;
  }

  .g-start-md-2 {
    grid-column-start: 2;
  }

  .g-start-md-3 {
    grid-column-start: 3;
  }

  .g-start-md-4 {
    grid-column-start: 4;
  }

  .g-start-md-5 {
    grid-column-start: 5;
  }

  .g-start-md-6 {
    grid-column-start: 6;
  }

  .g-start-md-7 {
    grid-column-start: 7;
  }

  .g-start-md-8 {
    grid-column-start: 8;
  }

  .g-start-md-9 {
    grid-column-start: 9;
  }

  .g-start-md-10 {
    grid-column-start: 10;
  }

  .g-start-md-11 {
    grid-column-start: 11;
  }

  .grid-flow-md-row {
    grid-auto-flow: row;
  }

  .grid-flow-md-col {
    grid-auto-flow: column;
  }

  .grid-flow-md-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-flow-md-col-dense {
    grid-auto-flow: column dense;
  }
}

@media (min-width: 992px) {
  .g-col-lg-1 {
    grid-column: auto/span 1;
  }

  .g-col-lg-2 {
    grid-column: auto/span 2;
  }

  .g-col-lg-3 {
    grid-column: auto/span 3;
  }

  .g-col-lg-4 {
    grid-column: auto/span 4;
  }

  .g-col-lg-5 {
    grid-column: auto/span 5;
  }

  .g-col-lg-6 {
    grid-column: auto/span 6;
  }

  .g-col-lg-7 {
    grid-column: auto/span 7;
  }

  .g-col-lg-8 {
    grid-column: auto/span 8;
  }

  .g-col-lg-9 {
    grid-column: auto/span 9;
  }

  .g-col-lg-10 {
    grid-column: auto/span 10;
  }

  .g-col-lg-11 {
    grid-column: auto/span 11;
  }

  .g-col-lg-12 {
    grid-column: auto/span 12;
  }

  .g-start-lg-1 {
    grid-column-start: 1;
  }

  .g-start-lg-2 {
    grid-column-start: 2;
  }

  .g-start-lg-3 {
    grid-column-start: 3;
  }

  .g-start-lg-4 {
    grid-column-start: 4;
  }

  .g-start-lg-5 {
    grid-column-start: 5;
  }

  .g-start-lg-6 {
    grid-column-start: 6;
  }

  .g-start-lg-7 {
    grid-column-start: 7;
  }

  .g-start-lg-8 {
    grid-column-start: 8;
  }

  .g-start-lg-9 {
    grid-column-start: 9;
  }

  .g-start-lg-10 {
    grid-column-start: 10;
  }

  .g-start-lg-11 {
    grid-column-start: 11;
  }

  .grid-flow-lg-row {
    grid-auto-flow: row;
  }

  .grid-flow-lg-col {
    grid-auto-flow: column;
  }

  .grid-flow-lg-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-flow-lg-col-dense {
    grid-auto-flow: column dense;
  }
}

@media (min-width: 1200px) {
  .g-col-xl-1 {
    grid-column: auto/span 1;
  }

  .g-col-xl-2 {
    grid-column: auto/span 2;
  }

  .g-col-xl-3 {
    grid-column: auto/span 3;
  }

  .g-col-xl-4 {
    grid-column: auto/span 4;
  }

  .g-col-xl-5 {
    grid-column: auto/span 5;
  }

  .g-col-xl-6 {
    grid-column: auto/span 6;
  }

  .g-col-xl-7 {
    grid-column: auto/span 7;
  }

  .g-col-xl-8 {
    grid-column: auto/span 8;
  }

  .g-col-xl-9 {
    grid-column: auto/span 9;
  }

  .g-col-xl-10 {
    grid-column: auto/span 10;
  }

  .g-col-xl-11 {
    grid-column: auto/span 11;
  }

  .g-col-xl-12 {
    grid-column: auto/span 12;
  }

  .g-start-xl-1 {
    grid-column-start: 1;
  }

  .g-start-xl-2 {
    grid-column-start: 2;
  }

  .g-start-xl-3 {
    grid-column-start: 3;
  }

  .g-start-xl-4 {
    grid-column-start: 4;
  }

  .g-start-xl-5 {
    grid-column-start: 5;
  }

  .g-start-xl-6 {
    grid-column-start: 6;
  }

  .g-start-xl-7 {
    grid-column-start: 7;
  }

  .g-start-xl-8 {
    grid-column-start: 8;
  }

  .g-start-xl-9 {
    grid-column-start: 9;
  }

  .g-start-xl-10 {
    grid-column-start: 10;
  }

  .g-start-xl-11 {
    grid-column-start: 11;
  }

  .grid-flow-xl-row {
    grid-auto-flow: row;
  }

  .grid-flow-xl-col {
    grid-auto-flow: column;
  }

  .grid-flow-xl-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-flow-xl-col-dense {
    grid-auto-flow: column dense;
  }
}

@media (min-width: 1400px) {
  .g-col-xxl-1 {
    grid-column: auto/span 1;
  }

  .g-col-xxl-2 {
    grid-column: auto/span 2;
  }

  .g-col-xxl-3 {
    grid-column: auto/span 3;
  }

  .g-col-xxl-4 {
    grid-column: auto/span 4;
  }

  .g-col-xxl-5 {
    grid-column: auto/span 5;
  }

  .g-col-xxl-6 {
    grid-column: auto/span 6;
  }

  .g-col-xxl-7 {
    grid-column: auto/span 7;
  }

  .g-col-xxl-8 {
    grid-column: auto/span 8;
  }

  .g-col-xxl-9 {
    grid-column: auto/span 9;
  }

  .g-col-xxl-10 {
    grid-column: auto/span 10;
  }

  .g-col-xxl-11 {
    grid-column: auto/span 11;
  }

  .g-col-xxl-12 {
    grid-column: auto/span 12;
  }

  .g-start-xxl-1 {
    grid-column-start: 1;
  }

  .g-start-xxl-2 {
    grid-column-start: 2;
  }

  .g-start-xxl-3 {
    grid-column-start: 3;
  }

  .g-start-xxl-4 {
    grid-column-start: 4;
  }

  .g-start-xxl-5 {
    grid-column-start: 5;
  }

  .g-start-xxl-6 {
    grid-column-start: 6;
  }

  .g-start-xxl-7 {
    grid-column-start: 7;
  }

  .g-start-xxl-8 {
    grid-column-start: 8;
  }

  .g-start-xxl-9 {
    grid-column-start: 9;
  }

  .g-start-xxl-10 {
    grid-column-start: 10;
  }

  .g-start-xxl-11 {
    grid-column-start: 11;
  }

  .grid-flow-xxl-row {
    grid-auto-flow: row;
  }

  .grid-flow-xxl-col {
    grid-auto-flow: column;
  }

  .grid-flow-xxl-row-dense {
    grid-auto-flow: row dense;
  }

  .grid-flow-xxl-col-dense {
    grid-auto-flow: column dense;
  }
}


/* MARK: Row/Col */
.row {
  --row-gutter-x: var(--layout-gutter);
  --row-gutter-y: var(--layout-gutter);
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-top: calc(-1 * var(--row-gutter-y));
  margin-right: calc(-0.5 * var(--row-gutter-x));
  margin-left: calc(-0.5 * var(--row-gutter-x));
}

/* row items (most often .col) */
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding-right: calc(var(--row-gutter-x) * 0.5);
  padding-left: calc(var(--row-gutter-x) * 0.5);
  margin-top: var(--row-gutter-y);
}

.col {
  flex: 1 0 0;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  --row-gutter-x: var(--spacer-0);
}

.g-0,
.gy-0 {
  --row-gutter-y: var(--spacer-0);
}

.g-1,
.gx-1 {
  --row-gutter-x: var(--spacer-1);
}

.g-1,
.gy-1 {
  --row-gutter-y: var(--spacer-1);
}

.g-2,
.gx-2 {
  --row-gutter-x: var(--spacer-2);
}

.g-2,
.gy-2 {
  --row-gutter-y: var(--spacer-2);
}

.g-3,
.gx-3 {
  --row-gutter-x: var(--spacer-3);
}

.g-3,
.gy-3 {
  --row-gutter-y: var(--spacer-3);
}

.g-4,
.gx-4 {
  --row-gutter-x: var(--spacer-4);
}

.g-4,
.gy-4 {
  --row-gutter-y: var(--spacer-4);
}

.g-5,
.gx-5 {
  --row-gutter-x: var(--spacer-5);
}

.g-5,
.gy-5 {
  --row-gutter-y: var(--spacer-5);
}

.g-6,
.gx-6 {
  --row-gutter-x: var(--spacer-6);
}

.g-6,
.gy-6 {
  --row-gutter-y: var(--spacer-6);
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }

  .offset-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333333%;
  }

  .offset-sm-5 {
    margin-left: 41.66666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333333%;
  }

  .offset-sm-8 {
    margin-left: 66.66666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333333%;
  }

  .offset-sm-11 {
    margin-left: 91.66666667%;
  }

  .g-sm-0,
  .gx-sm-0 {
    --row-gutter-x: var(--spacer-0);
  }

  .g-sm-0,
  .gy-sm-0 {
    --row-gutter-y: var(--spacer-0);
  }

  .g-sm-1,
  .gx-sm-1 {
    --row-gutter-x: var(--spacer-1);
  }

  .g-sm-1,
  .gy-sm-1 {
    --row-gutter-y: var(--spacer-1);
  }

  .g-sm-2,
  .gx-sm-2 {
    --row-gutter-x: var(--spacer-2);
  }

  .g-sm-2,
  .gy-sm-2 {
    --row-gutter-y: var(--spacer-2);
  }

  .g-sm-3,
  .gx-sm-3 {
    --row-gutter-x: var(--spacer-3);
  }

  .g-sm-3,
  .gy-sm-3 {
    --row-gutter-y: var(--spacer-3);
  }

  .g-sm-4,
  .gx-sm-4 {
    --row-gutter-x: var(--spacer-4);
  }

  .g-sm-4,
  .gy-sm-4 {
    --row-gutter-y: var(--spacer-4);
  }

  .g-sm-5,
  .gx-sm-5 {
    --row-gutter-x: var(--spacer-5);
  }

  .g-sm-5,
  .gy-sm-5 {
    --row-gutter-y: var(--spacer-5);
  }

  .g-sm-6,
  .gx-sm-6 {
    --row-gutter-x: var(--spacer-6);
  }

  .g-sm-6,
  .gy-sm-6 {
    --row-gutter-y: var(--spacer-6);
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }

  .g-md-0,
  .gx-md-0 {
    --row-gutter-x: var(--spacer-0);
  }

  .g-md-0,
  .gy-md-0 {
    --row-gutter-y: var(--spacer-0);
  }

  .g-md-1,
  .gx-md-1 {
    --row-gutter-x: var(--spacer-1);
  }

  .g-md-1,
  .gy-md-1 {
    --row-gutter-y: var(--spacer-1);
  }

  .g-md-2,
  .gx-md-2 {
    --row-gutter-x: var(--spacer-2);
  }

  .g-md-2,
  .gy-md-2 {
    --row-gutter-y: var(--spacer-2);
  }

  .g-md-3,
  .gx-md-3 {
    --row-gutter-x: var(--spacer-3);
  }

  .g-md-3,
  .gy-md-3 {
    --row-gutter-y: var(--spacer-3);
  }

  .g-md-4,
  .gx-md-4 {
    --row-gutter-x: var(--spacer-4);
  }

  .g-md-4,
  .gy-md-4 {
    --row-gutter-y: var(--spacer-4);
  }

  .g-md-5,
  .gx-md-5 {
    --row-gutter-x: var(--spacer-5);
  }

  .g-md-5,
  .gy-md-5 {
    --row-gutter-y: var(--spacer-5);
  }

  .g-md-6,
  .gx-md-6 {
    --row-gutter-x: var(--spacer-6);
  }

  .g-md-6,
  .gy-md-6 {
    --row-gutter-y: var(--spacer-6);
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }

  .g-lg-0,
  .gx-lg-0 {
    --row-gutter-x: var(--spacer-0);
  }

  .g-lg-0,
  .gy-lg-0 {
    --row-gutter-y: var(--spacer-0);
  }

  .g-lg-1,
  .gx-lg-1 {
    --row-gutter-x: var(--spacer-1);
  }

  .g-lg-1,
  .gy-lg-1 {
    --row-gutter-y: var(--spacer-1);
  }

  .g-lg-2,
  .gx-lg-2 {
    --row-gutter-x: var(--spacer-2);
  }

  .g-lg-2,
  .gy-lg-2 {
    --row-gutter-y: var(--spacer-2);
  }

  .g-lg-3,
  .gx-lg-3 {
    --row-gutter-x: var(--spacer-3);
  }

  .g-lg-3,
  .gy-lg-3 {
    --row-gutter-y: var(--spacer-3);
  }

  .g-lg-4,
  .gx-lg-4 {
    --row-gutter-x: var(--spacer-4);
  }

  .g-lg-4,
  .gy-lg-4 {
    --row-gutter-y: var(--spacer-4);
  }

  .g-lg-5,
  .gx-lg-5 {
    --row-gutter-x: var(--spacer-5);
  }

  .g-lg-5,
  .gy-lg-5 {
    --row-gutter-y: var(--spacer-5);
  }

  .g-lg-6,
  .gx-lg-6 {
    --row-gutter-x: var(--spacer-6);
  }

  .g-lg-6,
  .gy-lg-6 {
    --row-gutter-y: var(--spacer-6);
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }

  .g-xl-0,
  .gx-xl-0 {
    --row-gutter-x: var(--spacer-0);
  }

  .g-xl-0,
  .gy-xl-0 {
    --row-gutter-y: var(--spacer-0);
  }

  .g-xl-1,
  .gx-xl-1 {
    --row-gutter-x: var(--spacer-1);
  }

  .g-xl-1,
  .gy-xl-1 {
    --row-gutter-y: var(--spacer-1);
  }

  .g-xl-2,
  .gx-xl-2 {
    --row-gutter-x: var(--spacer-2);
  }

  .g-xl-2,
  .gy-xl-2 {
    --row-gutter-y: var(--spacer-2);
  }

  .g-xl-3,
  .gx-xl-3 {
    --row-gutter-x: var(--spacer-3);
  }

  .g-xl-3,
  .gy-xl-3 {
    --row-gutter-y: var(--spacer-3);
  }

  .g-xl-4,
  .gx-xl-4 {
    --row-gutter-x: var(--spacer-4);
  }

  .g-xl-4,
  .gy-xl-4 {
    --row-gutter-y: var(--spacer-4);
  }

  .g-xl-5,
  .gx-xl-5 {
    --row-gutter-x: var(--spacer-5);
  }

  .g-xl-5,
  .gy-xl-5 {
    --row-gutter-y: var(--spacer-5);
  }

  .g-xl-6,
  .gx-xl-6 {
    --row-gutter-x: var(--spacer-6);
  }

  .g-xl-6,
  .gy-xl-6 {
    --row-gutter-y: var(--spacer-6);
  }
}

@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }

  .g-xxl-0,
  .gx-xxl-0 {
    --row-gutter-x: var(--spacer-0);
  }

  .g-xxl-0,
  .gy-xxl-0 {
    --row-gutter-y: var(--spacer-0);
  }

  .g-xxl-1,
  .gx-xxl-1 {
    --row-gutter-x: var(--spacer-1);
  }

  .g-xxl-1,
  .gy-xxl-1 {
    --row-gutter-y: var(--spacer-1);
  }

  .g-xxl-2,
  .gx-xxl-2 {
    --row-gutter-x: var(--spacer-2);
  }

  .g-xxl-2,
  .gy-xxl-2 {
    --row-gutter-y: var(--spacer-2);
  }

  .g-xxl-3,
  .gx-xxl-3 {
    --row-gutter-x: var(--spacer-3);
  }

  .g-xxl-3,
  .gy-xxl-3 {
    --row-gutter-y: var(--spacer-3);
  }

  .g-xxl-4,
  .gx-xxl-4 {
    --row-gutter-x: var(--spacer-4);
  }

  .g-xxl-4,
  .gy-xxl-4 {
    --row-gutter-y: var(--spacer-4);
  }

  .g-xxl-5,
  .gx-xxl-5 {
    --row-gutter-x: var(--spacer-5);
  }

  .g-xxl-5,
  .gy-xxl-5 {
    --row-gutter-y: var(--spacer-5);
  }

  .g-xxl-6,
  .gx-xxl-6 {
    --row-gutter-x: var(--spacer-6);
  }

  .g-xxl-6,
  .gy-xxl-6 {
    --row-gutter-y: var(--spacer-6);
  }
}


/* SPACER */

/* Vertical */
[class*="space-y"] {
  --space-gap: var(--spacer-3);
  display: flex;
  flex-direction: column;
  gap: var(--space-gap);
}

/* Horizontal */
[class*="space-x"] {
  --space-gap: var(--spacer-3);
  display: flex;
  flex-direction: row;
  gap: var(--space-gap);
}

/* Space gap sizes */
.space-gap-0 {
  --space-gap: var(--spacer-0);
}

.space-gap-1 {
  --space-gap: var(--spacer-1);
}

.space-gap-2 {
  --space-gap: var(--spacer-2);
}

.space-gap-3 {
  --space-gap: var(--spacer-3);
}

.space-gap-4 {
  --space-gap: var(--spacer-4);
}

.space-gap-5 {
  --space-gap: var(--spacer-5);
}

.space-gap-6 {
  --space-gap: var(--spacer-6);
}

:is([class*="space-y"], [class*="space-x"]).divide {
  gap: 0;
}

/* Vertical children */
[class*="space-y"].divide > * ~ * {
  border-top: 1px solid #e3e3e3 !important;
}

[class*="space-y"].divide > *:not(:first-child) {
  padding-top: var(--space-gap) !important;
}

[class*="space-y"].divide > *:not(:last-child) {
  padding-bottom: var(--space-gap) !important;
}

/* Horizontal children */
[class*="space-x"].divide > * ~ * {
  border-left: 1px solid #e3e3e3 !important;
}

[class*="space-x"].divide > *:not(:first-child) {
  padding-left: var(--space-gap) !important;
}

[class*="space-x"].divide > *:not(:last-child) {
  padding-right: var(--space-gap) !important;
}

.divide-y-fill {
  height: 100%;

  > * {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

[class*="space-y"].gap-safe > * {
  margin-inline: 0 !important;
}

[class*="space-x"].gap-safe > * {
  margin-block: 0 !important;
}

/* WIP: text classes */
.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* rtl:begin:remove */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

@media (min-width: 576px) {
  .text-sm-start {
    text-align: left !important;
  }

  .text-sm-end {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-start {
    text-align: left !important;
  }

  .text-md-end {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important;
  }

  .text-lg-end {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-start {
    text-align: left !important;
  }

  .text-xl-end {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

@media (min-width: 1400px) {
  .text-xxl-start {
    text-align: left !important;
  }

  .text-xxl-end {
    text-align: right !important;
  }

  .text-xxl-center {
    text-align: center !important;
  }
}