:root {
  --white: #ffffff;
  --black: #000000;
  --cg-yellow: #ffed00;
  --cg-blue: #20234c;
  /* TODO: rename from "blue" (used in section bg gradients) */
  --blue: #2C306c;
  --blue-midnight: #27232c;
  --gray-light: #fafafa;
  --gray-100: #d9d9d9;
  --gray-200: #e3e3e3;
  --gray-500: #575757;
  --gray-600: #666666;
  --blue-light: #f8fafc;
  --blue-medium: #dce6f6;
  --white-dark: #f8f7f5;
  --cream-light: #fbf7ed;
  --cream-medium: #f5f0e0;
  --cream-dark: #efe6cd;
  
  /* WIP */
  --lavender: #e2e3ec;
  --snow: #f8fafc;

  --body-text-color: var(--blue-midnight);
  --muted-text-color: var(--gray-600);

  /* layout */
  --section-spacing: 100px;
  --layout-gutter: 32px;

  --spacer-0: 0;
  --spacer-1: 8px;
  --spacer-2: 16px;
  /* spacer 3 je výchozí stav */
  --spacer-3: 32px;
  /* WIP spacer 4,5,6 values */
  --spacer-4: 48px;
  --spacer-5: 64px;
  --spacer-6: 80px;

  /* Header */
  --header-height-desktop: 124px;
  --header-height-mobile: 56px;
  --header-height: var(--header-height-desktop);

  /* Controls (buttons, inputs) */

  --controls-fs-sm: 0.875rem;
  --controls-fs-md: 1.125rem;
  --controls-fs-lg: 1.25rem;
  --controls-padding-sm: 6px 16px;
  --controls-padding-md: 20px 20px;
  /* pro výslednou výšku 52px */
  /* --controls-padding-md: 14px 18px; */
  --controls-padding-lg: 0 18px;
  --controls-border-radius: 5px;
  /* ! <input> nedokáže jít až na line-height: 1 -> proto bylo třeba hodnotu zvýšit; hodnoty zvoleny aby height vycházel na celé a sudé číslo */
  --controls-lh-sm: 1.142857142857143;
  --controls-lh-md: 1.222222222222222;
  --controls-lh-lh: 1.2;

  /* ? maybe */
  /* --glass-filter: blur(25px); */
}

@media (width < 992px) {
  :root {
    --section-spacing: 100px;
    --header-height: var(--header-height-mobile);
    --layout-gutter: 16px;
  }
}